footer {

    background-color: var(--color-black);

    padding: 100px;

    color: white;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    
}