.mainHistorias {

    height: 100vh;

    padding-top: 10vh;

    margin-bottom: 350px;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    gap: 12px;
    
}