:root {

    /* colors */
    --color-green-primary: #038C5A;
    --color-white: #EEEFF1;
    --color-black: #24272C;
    --color-gray: #7E848B;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Inter', sans-serif;
    user-select: none;
}